.cta-section {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3rem;
    padding: var(--landing-padding);
    padding-block: 3rem;
    height: 100vh;
  }
  
  .cta-section-heading {
    font-family: var(--primary-font);
    color: var(--primary-text-color);
    font-size: 2.25rem;
    font-weight: bold;
  }
  
  .cta-section-subheading {
    color: var(--subtle-text-color);
    font-size: 1.125rem;
    font-weight: 400;
    font-family: "Roboto";
  }
  
  @media screen and (max-width: 768px) {
    .cta-section {
      gap: clamp(1.15rem, 1.5vw, 1.5rem);
      height: 50vh;
    }
  
    .cta-section-heading {
      font-size: clamp(1rem, 4vw, 2rem);
    }
  
    .cta-section-subheading {
      font-size: clamp(0.75rem, 3.5vw, 1.5rem);
    }
  }