.main-card {
    position: relative;
    border-radius: 18px;
    background-image: url(/main-card.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    max-height: 320px;
    padding: 2rem;
    gap: 1rem;
    grid-column-start: span 2;
    border: 1px solid transparent;
    transition: border 0.25s;
  }
  
  .main-card:hover {
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .main-card > p {
    color: var(--primary-text-color);
  }
  
  .main-card-title {
    font-family: var(--primary-font);
    font-size: clamp(1.5rem, 2.125vw, 2.125rem);
    font-weight: bold;
    line-height: 120%;
  }
  
  .main-card-date {
    position: relative;
    text-transform: uppercase;
    padding: 0.75rem;
    color: #b6b6b6;
    width: fit-content;
    font-size: 1rem;
    font-family: "Roboto";
  }
  
  .main-card-date::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.07);
  }
  
  @media screen and (max-width: 768px) {
    .main-card {
      width: 100%;
    }
  
    .main-card-title {
      font-size: clamp(1.25rem, 4.75vw, 2.5rem);
    }
  }
  
  @media screen and (max-width: 512px) {
    .main-card {
      grid-column-start: auto;
    }
  }